<html>
    <head>
	<title>Silica</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script>
	    $(function() {
	    $(".dropdown-menu li a").click(function() {
	    $(".btn:first-child").text($(this).text());
	    $(".btn:first-child").val($(this).text());
	    });
	    });
	</script>
    </head>
    <body>
	<div class="container">
	    <div class="page-header">
		<h1>Silica: In-Silico PCR Amplification</h1>
                <p>Run a virtual insilico PCR with a set of primers on a selected genome.<br />
                   Multiple primer pairs are allowed, off target products will be shown if present.</p>
 		<p>Analysis takes a couple of seconds to run, please be patient.</p>
		<p><a href="https://www-db.embl.de/EMBLPersonGroup-PersonPicture/MailForm/?recipient=ggenomics">Help</a></p>
	    </div>

            {% if error %}
            <p class="alert alert-danger" role="alert"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
 
	    <form action = "{{ baseurl }}/upload" method = "POST" enctype = "multipart/form-data">
		<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#mainform">Main</a></li>
		    <li><a data-toggle="tab" href="#settings">Settings</a></li>
		</ul>

		<div class="tab-content">
		    <div id="mainform" class="tab-pane fade in active">
                        <br />
 	                <div class="form-group">
        	            <label for="fastaText">Paste pimers in Fasta format</label>
	                    <br />
        	            <textarea class="form-control" id="fastaText" name="fastaText" rows="10" cols="50">{{ example }}</textarea>
	                </div>
			<div class="form-group">
			    <label for="fasta">or upload Fasta file (.fa)</label>
			    <br />
			    <label class="btn btn-default btn-file">
				<input type="file" name="fasta" id="fasta" hidden />
			    </label>
			</div>
			<div id="gindex" class="tab-pane fade in active">
			    <div class="form-group">
				<input class="span2" id="genome" name="genome" type="hidden"{% if example %} value='Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz'{% endif %}/>
				<label for="dropdown">and select genome</label>
				<div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">  {% if example %}Homo Sapiens GRCh37{% else %}Genome{% endif %} 
					<span class="caret"></span></button>
				    <ul class="dropdown-menu" role="menu">
					<li onclick="$('#genome').val('Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz')"><a href="#">A. thaliana TAIR10</a></li>
					<li onclick="$('#genome').val('Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz')"><a href="#">C. elegans WBcel235</a></li>
					<li onclick="$('#genome').val('Danio_rerio.GRCz10.dna.toplevel.fa.gz')"><a href="#">Danio Rerio GRCz10</a></li>
					<li onclick="$('#genome').val('Drosophila_melanogaster.BDGP6.dna.toplevel.fa.gz')"><a href="#">D. melanogaster BDGP6</a></li>
					<li onclick="$('#genome').val('Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz')"><a href="#">Homo Sapiens GRCh37</a></li>
					<li onclick="$('#genome').val('Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz')"><a href="#">Homo Sapiens GRCh38</a></li>
					<li onclick="$('#genome').val('Oryzias_latipes.MEDAKA1.dna.toplevel.fa.gz')"><a href="#">Medaka1</a></li>
					<li onclick="$('#genome').val('Mus_musculus.GRCm38.dna.primary_assembly.fa.gz')"><a href="#">Mus musculus GRCm38</a></li>
					<li onclick="$('#genome').val('Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz')"><a href="#">S. cerevisiae R64</a></li>
				    </ul>
				</div>
			    </div>
			</div>
        	        <div class="form-group">
                	    <label for="setAmpSize">Maximum Size of PCR Product (bp)</label>
	                    <br />
			    <input class="form-control" type="number" value="15000" id="setAmpSize" name="setAmpSize" />
        	        </div>
	                <div class="form-group">
        	            <label for="setTmCutoff">Mimnimal Primer Tm to Consider (&deg;C)</label>
                	    <br />
	                    <input class="form-control" type="text" value="45.0" id="setTmCutoff" name="setTmCutoff" />
        	        </div>
                   </div>
		   <div id="settings" class="tab-pane fade">
                         <br />

                         <div class="form-group">
                            <label for="setKmer">Number of bp from the 3' End of the Primer Used to Seach for Matches (&gt;14)</label>
                            <br />
                            <input class="form-control" type="number" value="15" id="setKmer" name="setKmer" />
                         </div>
                         <div class="form-group">
                            <label for="setDist">Maximal Allowed Number of Mutations in Matching Sequence (0 or 1)</label>
                            <br />
                            <input class="form-control" type="number" value="1" id="setDist" name="setDist" />
                        </div>

                         <div class="form-group">
                            <label for="setCutoffPen">Keep Only PCR Products with Penalty Below (-1 = keep all)</label>
                            <br />
                            <input class="form-control" type="text" value="-1" id="setCutoffPen" name="setCutoffPen" />
                         </div>
                         <div class="form-group">
                            <label for="setPenTmDiff">Penalty Factor for Single Primer Tm Mismatch to optimal Tm</label>
                            <br />
                            <input class="form-control" type="text" value="0.6" id="setPenTmDiff" name="setPenTmDiff" />
                        </div>
                         <div class="form-group">
                            <label for="setPenTmMismatch">Penalty Factor for Tm Mismatch of Primers in a Pair</label>
                            <br />
                            <input class="form-control" type="text" value="0.4" id="setPenTmMismatch" name="setPenTmMismatch" />
                         </div>
                         <div class="form-group">
                            <label for="setPenLength">Penalty Factor for PCR Product Length</label>
                            <br />
                            <input class="form-control" type="text" value="0.001" id="setPenLength" name="setPenLength" />
                        </div>

                         <div class="form-group">
                            <label for="setCtmMv">Tm Calculation: Concentration of Monovalent Ions (mMol)</label>
                            <br />
                            <input class="form-control" type="text" value="50.0" id="setCtmMv" name="setCtmMv" />
                         </div>
                         <div class="form-group">
                            <label for="setCtmDv">Tm Calculation: Concentration of Divalent Ions (mMol)</label>
                            <br />
                            <input class="form-control" type="text" value="1.5" id="setCtmDv" name="setCtmDv" />
                         </div>
                         <div class="form-group">
                            <label for="setCtmDNA">Tm Calculation: Concentration of Annealing(!) Oligos (nMol)</label>
                            <br />
                            <input class="form-control" type="text" value="50.0" id="setCtmDNA" name="setCtmDNA" />
                         </div>
                         <div class="form-group">
                            <label for="setCtmDNTP">Tm Calculation: Concentration of the Sum of All dNTPs (mMol)</label>
                            <br />
                            <input class="form-control" type="text" value="0.6" id="setCtmDNTP" name="setCtmDNTP" />
                         </div>

                   </div>
                </div>
  		<button type = "submit" name = "submit" value = "0" class = "btn btn-primary">Run Silica</button>
		<button type = "submit" name = "submit" value = "Load Example Data" class = "btn btn-secondary">Load Example Data</button>
                <br />
 	    </form>
	</div>
   </body>
</html>
